/*
    The Conflict of Interest (COI) module of Kuali Research
    Copyright © 2005-2016 Kuali, Inc.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>
*/

.container {
  padding: 10px 0;
  max-width: 646px;
  margin: 0 auto;
}

.dateDetailSection {
  border-top: 1px solid #aaa;
  margin-top: 20px;
  padding-top: 20px;
}

.done {
  float: right;
  cursor: pointer;
}

.buttons {
  color: #0095A0;
  margin-top: 20px;
  font-size: 17px;
  height: 21px;
}

:global(.color-blind) .buttons {
  color: black;
}

.add {
  cursor: pointer;
}

.cancel {
  float: right;
  color: #F57C00;
  padding-left: 5px;
  margin-left: 25px;
  padding-top: 7px;
  padding-bottom: 2px;
  font-size: 8px;
  border-bottom: 1px dotted #F57C00;
  cursor: pointer;
  vertical-align: middle;
}

:global(.color-blind) .cancel {
  color: black;
  border-bottom: 1px dotted black;
}

.expirationMessage {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #AAA;
}
