/*
    The Conflict of Interest (COI) module of Kuali Research
    Copyright © 2005-2016 Kuali, Inc.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>
*/

.container {
  font-size: 12px;
  margin-bottom: 10px;
}

.highlighted {
  border-left: 10px solid #F57C00;
  margin-left: -20px;
  padding-left: 10px;
}

:global(.color-blind) .highlighted {
  border-left: 10px solid black;
}

.entityName {
  width: 25%;
  display: inline-block;
  vertical-align: top;
}

.conflict {
  width: 25%;
  display: inline-block;
  vertical-align: top;
}

.adminRelationship {
  width: 25%;
  display: inline-block;
}

.comments {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.shortComment {
  width: 25%;
}

.commentLink {
  font-size: 14px;
  cursor: pointer;
  margin: 14px 0 34px 0;
  text-align: right;
}

.commentLabel {
  color: #0095A0;
  border-bottom: 1px dashed #0095A0;
  padding-bottom: 3px;
}

:global(.color-blind) .commentLabel {
  color: black;
  border-bottom: 1px dashed black;
}
