{
    "parser": "babel-eslint",
    "rules": {
        "indent": [
            2,
            2,
            {"SwitchCase": 1}
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-trailing-spaces": [
            2, 
            { "skipBlankLines": true }
        ],
        "no-unexpected-multiline": 2,
        "block-scoped-var": 2,
        "consistent-return": 2,
        "curly": 2,
        "no-multi-spaces": 2,
        "no-else-return": 2,
        "no-eq-null": 2,
        "no-floating-decimal": 2,
        "no-implicit-coercion": 2,
        "no-lone-blocks": 2,
        "no-loop-func": 2,
        "no-multi-spaces": 2,
        "no-self-compare": 2,
        "no-sequences": 2,
        "no-unused-expressions": 2,
        "no-with": 2,
        "yoda": 2,
        "no-shadow": 2,
        "no-use-before-define": 2
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "jsx": true,
        "experimentalObjectRestSpread": true,
        "modules": true
    },
    "plugins": [
        "react"
    ]
}