{
  "extends": "stylelint-config-standard",
  ignoreFiles: [
    '**/*.min.css'
  ],
  "rules": {
    "color-hex-case": null,
    "color-hex-length": null,
    "block-no-empty": null,
    "selector-pseudo-class-no-unknown": [true, {
      ignorePseudoClasses: ["global"]
    }],
    "shorthand-property-no-redundant-values": null,
    "declaration-block-no-duplicate-properties": null
  }
}