/*
    The Conflict of Interest (COI) module of Kuali Research
    Copyright © 2015 Kuali, Inc.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>
*/

.container {
  background-color: #c1c1c1;
}

.content {
  padding: 25px 25px 15px 25px;
  position: relative;
  background-color: white;
}

.instructions {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 15px;
}

.override.setAllButton {
  margin: 7px 10px 7px 0;
}

.heading {
  display: inline-block;
  font-size: 12px;
  color: #888;
}

:global(.color-blind) .heading {
  color: black;
}

.headings {
  margin-top: 25px;
  padding-bottom: 5px;
}

.buttons {
  background-color: white;
  padding: 15px;
  text-align: right;
  border-top: 1px solid #C3C3C3;
}

.spacer {
  display: none;
  width: 10px;
  border-right: 1px solid #666;
  height: 32px;
  vertical-align: middle;
}

.multipleProjects .spacer {
  display: inline-block;
}

.override.button {
  margin: 0 10px 0 10px;
  padding: 8px;
  min-width: 90px;
  width: initial;
}
