/*
    The Conflict of Interest (COI) module of Kuali Research
    Copyright © 2015 Kuali, Inc.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>
*/

.container {
  background-color: white;
  height: 100%;
  box-shadow: 0 0 10px 0 #AAA;
  color: black;
  padding: 10px 25px 0 25px;
}

.heading {
  color: black;
  padding: 10px 20px 10px 0;
  height: 50px;
  z-index: 99;
  position: relative;
  background-color: white;
  box-shadow: 0 5px 10px white;
}

.close {
  color: #0095A0;
  font-weight: bold;
  cursor: pointer;
  float: right;
  font-size: 20px;
}

:global(.color-blind) .close {
  color: black;
}

.title {
  font-weight: 300;
  font-size: 23px;
}
