/*
    The Conflict of Interest (COI) module of Kuali Research
    Copyright © 2005-2016 Kuali, Inc.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>
*/

.container {
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 10px #BBB;
  margin-bottom: 22px;
}

.title {
  border-bottom: 1px solid #AAA;
  padding: 10px 17px;
  font-size: 17px;
}

.content {
  padding: 10px;
}

.override.button {
  margin-left: 10px;
  float: right;
  min-width: 124px;
}

.buttonRow {
  padding: 10px 20px;
  height: 53px;
  border-top: 1px solid #AAA;
}
