//-
   The Conflict of Interest (COI) module of Kuali Research
   Copyright © 2005-2016 Kuali, Inc.

   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see <http://www.gnu.org/licenses/>

doctype html
html(lang='en')
  head
    style.
      img {
        margin: 0 auto;
        display: block;
      }

      .heading {
        font-weight: bold;
        font-size: 70px;
        text-align: center;
        font-family: sans-serif;
        margin: 50px 0;
      }
    title Unauthorized
  body
    div(class='heading') UNAUTHORIZED
    img(src='https://upload.wikimedia.org/wikipedia/commons/0/0b/DIN_4844-2_D-P006.svg')
html
