/*
    The Conflict of Interest (COI) module of Kuali Research
    Copyright © 2015 Kuali, Inc.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>
*/

.container {
  background-color: #D0E3E5;
  border: 1px solid #CCC;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #CCC;
  color: black;
  display: inline-block;
  margin-left: 0;
  padding: 8px 25px 15px 25px;
  transform: translateY(0%);
  transition: transform 0.2s ease-out;
  width: 60%;
}

.container.new {
  transform: translateY(125%);
}

.container.isUser {
  background-color: white;
  margin-left: 35%;
}

:global(.color-blind) .container {
  background-color: white;
}

.date {
  float: right;
  color: #666;
  font-size: 12px;
  font-weight: 300;
}

.author {
  font-weight: bold;
  font-size: 14px;
}

.text {
  font-size: 12px;
  margin-top: 7px;
}
