/*
    The Conflict of Interest (COI) module of Kuali Research
    Copyright © 2005-2016 Kuali, Inc.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>
*/

.container {
  margin: 25px 20px 25px 35px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px #DDD;
  overflow: hidden;
}

.title {
  font-size: 23px;
  padding: 10px 18px;
  border-bottom: 1px solid #AAA;
  background-color: white;
  color: black;
}

.body {
  padding: 23px;
}

.override.question {
  margin-bottom: 40px;
}

.override.last {
  margin-bottom: 0;
}

@media (max-width: 950px) {
  .container {
    margin: 15px 10px;
  }
}
