/*
    The Conflict of Interest (COI) module of Kuali Research
    Copyright © 2005-2016 Kuali, Inc.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>
*/

.button {
  background-color: white;
  border: 1px solid #bbb;
  padding: 8px 20px;
  font-size: 12px;
  position: relative;
}

.button:focus {
  border-color: #9e9e9e;
  outline-width: 0;
}

.selected {
  background-color: #0095A0;
  font-weight: bold;
  color: white;
  z-index: 2;
}

:global(.color-blind) .selected {
  background-color: black;
}

.unselected {
  box-shadow: 0 0 15px #cecece;
}

.arrow {
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top-color: #0095A0;
  top: 29px;
  right: 44%;
}

:global(.color-blind) .arrow {
  border-top-color: black;
}
