/*
 The Conflict of Interest (COI) module of Kuali Research
 Copyright © 2005-2016 Kuali, Inc.
 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU Affero General Public License as
 published by the Free Software Foundation, either version 3 of the
 License, or (at your option) any later version.
 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU Affero General Public License for more details.
 You should have received a copy of the GNU Affero General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>
*/

.textArea {
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}

.urlInputContainer {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 260px;
  background: none #fdfdfd;
  border: 1px solid #999;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 4px;
}

.urlInputContainer::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  left: 10px;
  border: 5px solid transparent;
  border-bottom-color: #999;
}

.urlInputContainer::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: -9px;
  left: 10px;
  border: 5px solid transparent;
  border-bottom-color: #fdfdfd;
}

.urlInput {
  width: 70%;
  padding: 3px;
}

.buttons {
  display: inline-block;
  position: relative;
}
