/*
    The Conflict of Interest (COI) module of Kuali Research
    Copyright © 2015 Kuali, Inc.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>
*/

.container {
  background-color: white;
  padding: 17px 0 17px 50px;
  position: relative;
  box-shadow: 0 2px 8px #D5D5D5;
  z-index: 2;
}

.instructionButton {
  top: 0;
  position: absolute;
  right: 25%;
  color: #0095A0;
  font-size: 18px;
  cursor: pointer;
  margin-top: 0;
  padding: 29px 14px;
  height: 100%;
}

:global(.color-blind) .instructionButton {
  color: black;
}

.heading {
  font-size: 33px;
  margin: 0 0 0 0;
  text-transform: uppercase;
  font-weight: 300;
  color: #444;
}
