/*
    The Conflict of Interest (COI) module of Kuali Research
    Copyright © 2005-2016 Kuali, Inc.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>
*/

.container {
  color: black;
  font-size: 15px;
  min-width: 235px;
  background-color: white;
  padding: 20px 24px;
  box-shadow: 0 0 10px 2px #CCC;
}

.button {
  margin: 10px auto;
  display: block;
  min-width: 135px;
}

.textbox {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  padding: 5px;
  font-size: 13px;
  resize: none;
  border: 1px solid #AAA;
}

.question {
  padding-bottom: 17px;
  border-bottom: 1px solid #AAA;
  margin-bottom: 17px;
  text-align: center;
}

@media (max-width: 950px) {
  .container {
    min-width: 150px;
    padding: 10px;
  }

  .button {
    min-width: 130px;
  }
}
