/*
    The Conflict of Interest (COI) module of Kuali Research
    Copyright © 2015 Kuali, Inc.

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>
*/

.container {
  display: inline-block;
  margin: 10px 10px;
}

.icon {
  color: #0095A0;
  font-size: 50px;
  display: inline-block;

}

:global(.color-blind) .icon {
  color: black;
}

.content {
  font-weight: 600;
  padding-left: 10px;
  display: inline-block;

}

.link {
  padding: 0;
  font-weight: bold;
  background-color: transparent;
  color: #0095A0;
  border: none;
  border-bottom: 2px dotted #0095A0;
}

:global(.color-blind) .link {
  color: black;
  border-bottom: 2px dotted black;
}
